html {
  font-size: 20px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav {
  padding-left: 5%;
  /* padding-right: 0.625em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.header-logo {
  display: inline-block;
  width: 100%;
}

h1,
h2,
h3,
p {
  color: #090940;
  position: absolute;
}

h1 {
  top: 5%;
  left: 15%;
  width: 70%;

  text-align: center;
  font-size: 3.157rem;
  font-family: rigid-square, sans-serif;
  /* font-family: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande"; */
}

h2 {
  top: 30%;
  left: 31%;
  width: 38%;

  text-align: center;
  font-size: 0.9rem;
  font-family: rigid-square, sans-serif;
  line-height: 1.5rem;
}

h3 {
  text-align: center;
  font-size: 1rem;
  font-family: rigid-square, sans-serif;
  line-height: 1.5rem;
  color: white;
}

h4 {
  text-align: center;
  font-size: 1rem;
  font-family: rigid-square, sans-serif;
  line-height: 1.5rem;
  color: #090940;
}

.red-text {
  top: 41%;
  left: 25.5%;
}

.yellow-text {
  top: 40%;
  right: 25.5%;
}

.light-blue-text {
  top: 74%;
  left: 35.5%;
}

.blue-text {
  top: 74%;
  right: 35%;
}

p {
  top: 54%;
  left: 31%;
  width: 38%;
  text-align: center;
  font-size: 1rem;
  font-family: rigid-square, sans-serif;
  text-transform: uppercase;
  opacity: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding-top: 10%;
  justify-content: center;
}

.red {
  grid-column-start: 1;
  grid-column-end: 3;
}

.yellow {
  grid-column-start: 5;
  grid-column-end: 7;
}

.light-blue {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: -7%;
}

.blue {
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: -7%;
}

.red,
.yellow,
.light-blue,
.blue,
.gray{
  width: 300px;
  height: 275px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
}

.gray, .gray2, .gray3, .gray4 {
  position: absolute;
  top: 140%;
  left: -100%;
}

.show {
  position: absolute;
  top: 170%;
  left: 0%;
}

.show2 {
  position: absolute;
  top: 170%;
  left: 27.5%;
}

.show3 {
  position: absolute;
  top: 170%;
  left: 52.5%;
}

.show4 {
  position: absolute;
  top: 170%;
  left: 80%;
}

.hideText {
  position: absolute;
  top: 170%;
  left: -100%;
}

.showText1 {
  position: absolute;
  top: 140%;
  left: 31%;
  opacity: 100%;
}

.showText2 {
  position: absolute;
  top: 180%;
  left: 5.5%;
}

.showText3 {
  position: absolute;
  top: 180%;
  left: 32.5%;
}

.showText4 {
  position: absolute;
  top: 180%;
  left: 59.5%;
}

.showText5 {
  position: absolute;
  top: 180%;
  left: 86%;
}

.yellow-button {
  width: 72px;
  height: 66px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  position: absolute;
  top: -3%;
  left: -3%;
}

button img {
  position: absolute;
  top: 26%;
  left: 26%;

  width: 60%;
  height: 52%;
  transform: rotate(180deg);
}

.button-reversed {
  transform: rotate(270deg);
  top: 120%;
}

button {
  position: absolute;
  top: 61%;
  left: 47.5%;

  width: 72px;
  height: 66px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
  border: none;
}

.clear {
  opacity: 0%;
}

/* .nav-links {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Rigid Square";
  font-weight: 700;
} */
/* 
.nav-item a {
  display: inline-block;
  padding: 0.625em 0.9375em;
  margin: 1.875em 1.875em;
  text-decoration: none;
  color: #090940;
}

.nav-item .account-icon {
  display: inline-block;
  padding: 0.625em 0.9375em;
  margin: 1.25em 1.875em;
  text-decoration: none;
} */